*{
    padding: 0;
    margin: 0;
}

header{
    padding: 5px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: "DM Serif Text", serif;
}

body{
    /* display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh; */
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
}


footer{
    padding: 5px;
    background-color: rgb(50, 50, 50);
    color: white;
    margin-top: 20px;
}

.mini-header{
    display: flex;
}
