*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header{
    padding: 5px;
    background-color: rgb(50, 50, 50);
    color: white;
    font-family: "DM Serif Text", serif;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header a{
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

header a:hover{
    color: rgb(209, 206, 206);
    text-decoration: none;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

main{
    padding-top: 47px;
}

aside {
    max-height: 100%;
    padding-right: 10px;
    border-right: 1px solid black;
    grid-column: 1fr;
    position: relative;
    min-height: 100px;
}

.solicitudVisitas .item{
    background-color: rgb(245, 230, 233);
}

aside .item{
    background-color: rgb(222, 241, 235);
}

footer{
    padding: 5px;
    background-color: rgb(50, 50, 50);
    color: white;
    margin-top: 20px;
}

section{
    padding-left: 20px;
}

.mini-header{
    display: flex;
    justify-content: space-between;
}

.pagination{
    margin-left: 20px;
}

.items{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.inmuebles .item{
    background-color: beige;
}

.item{
    padding: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.btnItem{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 250px;
}

.prox-visitas{
    display: none;
}

.contenedor-unico{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

.contenedor-unico .item{
    background-color: rgb(222, 241, 235);
}

@media (max-width:1645px){
    .truncate {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 200px;
    }
}

@media (max-width: 1480px) {
    .contenedor{
        grid-template-columns: 1fr;
    }

    .prox-visitas{
        display: block;
    }

    aside{
        display: none;
    }
}

@media (max-width: 1160px) {
    .items{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .item:last-child{
        grid-column: 1 / span 2;
    }

    .truncate {
        text-overflow:ellipsis;
        width: 300px;
    }
}

@media (max-width: 980px) {
    .items{
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .item:last-child{
        grid-column: 1 / span 1;
    }

    aside{
        display: none;
    }
}
