*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
}

main{
    padding-top: 100px;
}

header h1{
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
}

header{
    position: fixed;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url('../img/marmol2.jpg');
    background-repeat: repeat;
    background-attachment: fixed;
    border-bottom: 3px solid slategray;
}

header nav{
    display: flex;
    align-items: center;
}

header a{
    color: black;
    text-decoration: none;
    margin-right: 35px;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    transition: 0.3s ease all;
}

a:hover{
    color:slategray;
    transition: 0.3s ease all;
}

footer{
    margin: 0 30px;
    border-top: 1px solid rgb(183, 183, 183);
    text-align: center;
    font-family: "DM Serif Text", serif;
}

footer a{
    text-decoration: none;
    color: black;
}

footer > a{
    border-bottom: 1px solid rgb(183, 183, 183);
    padding: 15px;
    display: block;
    color: black;
    text-decoration: none;

    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    transition: 0.3s ease all;
}

footer nav a{
    color: black;
    text-decoration: none;
    margin-right: 35px;
    font-weight: 400;
    font-style: italic;
    font-size: 15px;
    transition: 0.3s ease all;
}

#volverArriba:hover{
    background: slategray;
    transition: 0.3s ease all;
    color: white;
}
