body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

main {
    flex: 1;
    display: flex;
    margin-top: 80px; /* Ajusta este valor según la altura del header */
}

.sidebar {
    background-color: rgba(255, 255, 255, 0.8);
    border-right: 1px solid #ddd;
    padding: 20px;
    height: 100%;
}

.card {
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
    margin-bottom: 20px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container nav a {
    margin-left: 15px;
}

.custom-carousel-control {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}
.custom-carousel-control .carousel-control-prev-icon,
.custom-carousel-control .carousel-control-next-icon {
    width: 15px;
    height: 15px;
}
